* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 236, 236);
  display: flex;
  justify-content: center;
  
  
  .container {
    background-color: white;
    
    
    width: 80%;
    
  }
}
